<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULADORA BASICA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="calculator-container">
        <h1 style="text-align: center; color: white;">CALCULATOR 1.0</h1>
        <input type="text" id="entrada" placeholder="Insertar operacion">
        <input type="text" id="resultado" readonly placeholder="Resultado">
        <table>
            <tr>
                <td><button class="button" id="clear" onclick="limpiar_pantalla()">Clear</button></td>
                <td><button class="button" id="delete" onclick="borrar_caracter()">del</button></td>
                <td><button class="button" id="porcent" onclick="botones_operaciones('%')">%</button></td>
                <td><button class="button" id="expo" onclick="botones_operaciones('^')">^</button></td>
                <td><button class="button" id="pi" onclick="botones_numeros('3.1416')">pi</button></td>
            </tr>
            <tr>
                <td><button class="button" id="siete" onclick="botones_numeros('7')">7</button></td>
                <td><button class="button" id="ocho" onclick="botones_numeros('8')">8</button></td>
                <td><button class="button" id="nueve" onclick="botones_numeros('9')">9</button></td>
                <td><button class="button" id="abrir_par" onclick="botones_operaciones('(')">(</button></td>
                <td><button class="button" id="cerrar_par" onclick="botones_operaciones(')')">)</button></td>
            </tr>
            <tr>
                <td><button class="button" id="cuatro" onclick="botones_numeros('4')">4</button></td>
                <td><button class="button" id="cinco" onclick="botones_numeros('5')">5</button></td>
                <td><button class="button" id="seis" onclick="botones_numeros('6')">6</button></td>
                <td><button class="button" id="suma" onclick="botones_operaciones('+')">+</button></td>
                <td><button class="button" id="resta" onclick="botones_operaciones('-')">-</button></td>
            </tr>
            <tr>
                <td><button class="button" id="uno" onclick="botones_numeros('1')">1</button></td>
                <td><button class="button" id="dos" onclick="botones_numeros('2')">2</button></td>
                <td><button class="button" id="tres" onclick="botones_numeros('3')">3</button></td>
                <td><button class="button" id="division" onclick="botones_operaciones('/')">/</button></td>
                <td><button class="button" id="multiplicacion" onclick="botones_operaciones('*')">x</button></td>
            </tr>
            <tr>
                <td><button class="button" id="punto" onclick="botones_operaciones('.')">.</button></td>
                <td><button class="button" id="cero" onclick="botones_numeros('0')">0</button></td>
                <td colspan="3"><button class="button" id="igual" style="width: 190px;" onclick="sacarResultado()">=</button></td>
            </tr>
        </table>
    </div>
    <script src="calcu.js"></script>
</body>
</html>